header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 520px;
  width: 100%;
  padding-top: 120px;
  background-color: #a86a00;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

header h2 {
  color: white;
}